@use '../utils/variables' as *;
@use '../utils/mixins' as *;


.top {
  padding-top: 159px;
  width: 500px;

  // Используем миксин для центрирования
  @include flex-center(column, $spacing-sm);
  align-items: flex-start;

  // Центрирование самого контейнера
  margin-left: auto;
  margin-right: auto;

  @include respond-to(tablet) {
    width: 100%;
    max-width: 432px;
  }

  @include respond-to(mobile) {
    width: 100%;
    max-width: 432px;
    align-items: center;
  }
}